<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/login/css/mycss.css}" rel="stylesheet"/>
<title>新闻详情</title>
</head>
<body>
	<a th:href="@{/}">返回</a>
	<h1>vip会员新闻：1</h1>
	<p style="width: 500px">
		vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1
		vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1
		vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1vip会员新闻：1
	</p>
</body>
</html>