<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/login/css/mycss.css}" rel="stylesheet"/>
<title>新闻详情</title>
</head>
<body>
	<a th:href="@{/}">返回</a>
	<h1>vip会员新闻： 2</h1>
	<p>
		vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2
		vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2
		vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2vip会员新闻： 2
	</p>
</body>
</html>