<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>Work界面</title>
</head>
<body class="text-center">

<h1 class="h3 mb-3 font-weight-normal" th:text="#{work.tip}">工作界面</h1>
<form class="form-add" action="/doadd" method="post">
    <h2 th:text="#{work.button1}">增加</h2>
    <input type="text" class="form-control" id="username" name="username"
           th:placeholder="#{work.username}" required="" autofocus="">
    <input type="password" class="form-control" id="password" name="password"
           th:placeholder="#{work.password}" required="">
    <input type="email" class="form-control" id="email" name="email"
           th:placeholder="#{work.email}" required="">
    <input type="text" class="form-control" id="address" name="address"
           th:placeholder="#{work.address}" required="">
    <input type="date" class="form-control" id="birthday" name="birthday"
           th:placeholder="#{work.birthday}" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{work.button1}">增加</button>
</form>
<form class="form-search" action="/dosearch" method="post">
    <h3 th:text="#{work.button2}">查询</h3>
    <input type="text" class="form-control" id="id" name="id"
           th:placeholder="#{work.id}" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{work.button2}">查询</button>
</form>
<form class="form-delete" action="/dodelete" method="post">
    <h4 th:text="#{work.button3}">删除</h4>
    <input type="text" class="form-control" id="del_id" name="del_id"
           th:placeholder="#{work.id}" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{work.button3}">删除</button>
</form>
<form class="form-modify" action="/domodify" method="post">
    <h5 th:text="#{work.button4}">修改</h5>
    <input type="text" class="form-control" id="up_id" name="up_id"
           th:placeholder="#{work.id}" required="" autofocus="">
    <input type="text" class="form-control" id="up_username" name="up_username"
           th:placeholder="#{work.username}" required="" autofocus="">
    <input type="password" class="form-control" id="up_password" name="up_password"
           th:placeholder="#{work.password}" required="">
    <input type="email" class="form-control" id="up_email" name="up_email"
           th:placeholder="#{work.email}" required="">
    <input type="text" class="form-control" id="up_address" name="up_address"
           th:placeholder="#{work.address}" required="">
    <input type="date" class="form-control" id="up_birthday" name="up_birthday"
           th:placeholder="#{work.birthday}" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{work.button4}">修改</button>
</form>
<form class="form-searchall" action="/dosearchall" method="post">
    <h5 th:text="#{work.button5}">查询所有</h5>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{work.button5}">查询所有</button>
</form>
<a class="btn btn-sm" th:href="@{/work(l='zh_CN')}">中文</a>
<a class="btn btn-sm" th:href="@{/work(l='en_US')}">English</a>
</body>
</html>