<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link th:href="@{/login/css/mycss.css}" rel="stylesheet"/>
<title>新闻详情</title>
</head>
<body>
	<a th:href="@{/}">返回</a>
	<h1>新闻2：悟空非空也带你学习 Python </h1>
	<p>
		新闻正文:<br>
		新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python
		新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python
		新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python
		新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python新闻2：悟空非空也带你学习 Python
	</p>
</body>
</html>